<% include partials/header %>
<% include partials/nav-bar %>
<!DOCTYPE html>
<!-- saved from url=(0047)http://www.precioustimber.com/confirmation.html -->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>Confirmation Page | Gallaxy Responsive HTML5/CSS3 Template | FIFO THEMES</title>
        <meta name="description" content="Gallaxy Responsive HTML5/CSS3 Template from FIFOTHEMES.COM">
        <meta name="author" content="FIFOTHEMES.COM">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Google Fonts -->
        <link href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/css" rel="stylesheet" type="text/css">
        <link href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/css(1)" rel="stylesheet" type="text/css">
        <!-- Library CSS -->
        <link rel="stylesheet" href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/bootstrap.css">
        <link rel="stylesheet" href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/bootstrap-theme.css">
        <link rel="stylesheet" href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/font-awesome.css">
        <link rel="stylesheet" href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/animations.css" media="screen">
        <link rel="stylesheet" href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/superfish.css" media="screen">
        <link rel="stylesheet" href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/team-member.css" media="screen">
        <link rel="stylesheet" href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/prettyPhoto.css" media="screen">
        <!-- Theme CSS -->
        <link rel="stylesheet" href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/style.css">
        <!-- Skin -->
        <link rel="stylesheet" href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/green.css" class="colors">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/theme-responsive.css">

        <!-- Favicons -->
        <link rel="shortcut icon" href="http://www.precioustimber.com/img/ico/favicon.ico">
        <link rel="apple-touch-icon" href="http://www.precioustimber.com/img/ico/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://www.precioustimber.com/img/ico/apple-touch-icon-72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://www.precioustimber.com/img/ico/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="http://www.precioustimber.com/img/ico/apple-touch-icon-144.png">
        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
        <!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
    <script type="text/javascript" charset="UTF-8" src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/common.js"></script><script type="text/javascript" charset="UTF-8" src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/util.js"></script><script type="text/javascript" charset="UTF-8" src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/stats.js"></script></head>
    <body class="page" style="overflow-y: auto;">
        <div class="page-mask" style="display: none;">
            <div class="page-loader">
                <div class="spinner"></div>
                Loading...
            </div>
        </div>
        <!-- wrap -->
        <div class="wrap">

            <!-- Main Section -->
            <section id="main">
                <div class="breadcrumb-wrapper">
                    <div class="pattern-overlay">
                        <div class="container">

                        </div>
                    </div>
                </div>
                <!-- Main Content -->

                <div class="content margin-top60 margin-bottom60">

                    <div class="container">
                    <div class="jumbotron">
                        <div class="row">
                            <article class="col-sm-12 col-md-12 content">
                                <div class="my-account">
                                    <div class="bottom-padding">
                                        <p>Thank you. Your order has been received.</p>
                                        <div class="alert alert-info">
                                            <ul class="list-unstyled">
                                                <li>Order: <strong>#1</strong></li>
                                                <li>Date: <strong>July 1, 2017</strong></li>
                                                <li>Total: <strong><span class="amount">361 INR</span></strong></li>
                                                <li>Payment method: <strong>COD</strong></li>
                                            </ul>
                                        </div>
                                        <!-- <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order wont be shipped until the funds have cleared in our account.</p> -->
                                    </div>
                                    <div class="bottom-padding">
                                        <div class="title-box">
                                            <h3>Our Details</h3>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped text-left order-details">
                                                <thead>
                                                    <tr>
                                                        <th class="product-name">Product</th>
                                                        <th class="product-total">Total</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>Cart Subtotal:</th>
                                                        <td>361 INR</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Shipping:</th>
                                                        <td>Free Shipping</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Order Total:</th>
                                                        <td>361 INR</td>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr>
                                                        <td class="product-name">
                                                            <a href="http://www.precioustimber.com/confirmation.html#">Biryani</a> <strong class="product-quantity">× 1</strong>
                                                        </td>
                                                        <td class="product-total"><span class="amount">235 INR</span></td>
                                                    </tr>
                                                    <tr class="order_table_item">
                                                        <td class="product-name">
                                                            <a href="http://www.precioustimber.com/confirmation.html#">Cheesy Burger</a> <strong class="product-quantity">× 1</strong>
                                                        </td>
                                                        <td class="product-total"><span class="amount">78 INR</span></td>
                                                    </tr>
                                                    <tr class="order_table_item">
                                                        <td class="product-name">
                                                            <a href="http://www.precioustimber.com/confirmation.html#">Haleem</a> <strong class="product-quantity">× 1</strong>
                                                        </td>
                                                        <td class="product-total"><span class="amount">48 INR</span></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                </div>
                <!-- /Main Content -->
            </section>
            <!-- /Main Section -->
            <!-- Footer -->
            <footer id="footer">
                <div class="pattern-overlay">

                    <!-- Footer Bottom -->
                    <div class="footer-bottom">

                    </div>
                    <!-- /Footer Bottom -->
                </div>
            </footer>
            <!-- /Footer -->
            <!-- Modal -->
            <section id="modals">
                <!-- Login Modal -->
                <div class="modal login fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="form-signin-heading modal-title" id="loginModalLabel">Login</h2>
                            </div>
                            <form method="post" id="login">
                                <div class="modal-body">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <input class="form-control" id="username" name="username" type="text" placeholder="Username" value="" required="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <input class="form-control" type="email" id="email" name="email" placeholder="Email" value="" required="">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <a href="http://www.precioustimber.com/password-recovery.html" class="pull-left">(Lost Password?)</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-color">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Login Modal -->
                <!-- Registration Modal -->
                <div class="modal register fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="form-signin-heading modal-title" id="registrationModalLabel">Create a new account</h2>
                            </div>
                            <form method="post" id="registration">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" value="" class="form-control" placeholder="First Name">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" value="" class="form-control" placeholder="Last Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="text" value="" class="form-control" placeholder="E-mail Address">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="password" value="" class="form-control" placeholder="Password">
                                            </div>
                                            <div class="col-md-6">
                                                <input type="password" value="" class="form-control" placeholder="Re-enter Password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-color">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Registration Modal -->
            </section>
            <!-- Scroll To Top -->
            <a href="http://www.precioustimber.com/confirmation.html#" class="scrollup" style="display: none;"><i class="fa fa-angle-up"></i></a>
        </div>
        <!-- /Wrap -->

        <!-- The Scripts -->
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.min.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery-migrate-1.0.0.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery-ui.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/bootstrap.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.themepunch.plugins.min.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.themepunch.revolution.min.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.parallax.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.wait.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/fappear.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/modernizr-2.6.2.min.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.bxslider.min.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.prettyPhoto.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/superfish.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/tweetMachine.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/tytabs.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.gmap.min.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.sticky.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.countTo.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jflickrfeed.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.knob.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/imagesloaded.pkgd.min.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/waypoints.min.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/wow.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/jquery.fitvids.js"></script>
        <script src="./Confirmation Page _ Gallaxy Responsive HTML5_CSS3 Template _ FIFO THEMES_files/custom.js"></script>



<div id="lo-engage-ext-container"><div data-reactroot=""></div></div><link rel="stylesheet" type="text/css" href="chrome-extension://liecbddmkiiihnedobmlmillhodjkdmb/css/content.css"></body></html>

<style media="screen">
#main {
  background-color: #4e4343 !important;
  /* padding: 0 0 60px; */
}
</style>
